{% extends 'forms/row.html.twig' %}

{% block widget %}
  <textarea
    class="form-control"
    name="{{ field.name }}"
    id="{{ field.name }}"
    {% if field.placeholder %}
      placeholder="{{ field.placeholder }}"
    {% endif %}
    {% if field.validate.required %}
      required
    {% endif %}
    {% if field.rows %}
      rows="{{ field.rows }}"
    {% endif %}
  >{% if value is not null %}{{ value }}{% endif %}</textarea>
{% endblock %}
