{% extends 'forms/row.html.twig' %}

{% block label %}{% endblock %}

{% block widget %}
  <div class="checkbox">
    <label>
      <input
        type="hidden"
        name="{{ field.name }}"
        value="0" />
      <input
        type="checkbox"
        name="{{ field.name }}"
        id="{{ field.name }}"
        value="1"
        {% if value in [true, 1, '1', 'yes'] %}
          checked
        {% endif %}
        {% if field.validate.required %}
          required
        {% endif %}
      />
      {{- field.label -}}{% if field.validate.required %}&nbsp;<span class="required">*</span>{% endif %}
    </label>
  </div>
{% endblock %}
