{% extends 'layouts/default.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
  {% include 'partials/carousel.html.twig' %}
  <div class="page">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-body">

      {{ page.content }}

      <div class="row">
        {% for item in collection %}
          <div class="col-sm-6">
            {% include 'partials/post.html.twig' with { page: item, blog: page } %}
          </div>
        {% endfor %}
      </div>

      {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with { 'base_url': page.url, 'pagination': collection.params.pagination } %}
      {% endif %}

    </div><!-- /.page-body -->

  </div><!-- /.page -->
{% endblock %}
