{% extends 'layouts/default.html.twig' %}

{% block content %}

  <div class="page">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-body">

      <div class="row">
        <div class="main col-md-6">
          {{ page.content }}
        </div>
          <div class="col-md-6">
          {% include 'forms/form.html.twig' with { form: page.header.form } %}
        </div>
      </div><!-- /.row -->

    </div>
  </div><!-- /.page -->
{% endblock %}
