{% extends 'layouts/default.html.twig' %}

{% set contents = page.content|split('<hr />') %}
{% set columns = contents|length %}

{% block content %}
  {% include 'partials/carousel.html.twig' %}
  <div class="page">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-body">
      <div class="row">
        {% for content in contents %}
          <div class="col-md-{{ (12 / columns)|round(0, 'floor') }}">
            {{ content }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div><!-- /.page -->
{% endblock %}
