{% extends 'layouts/default.html.twig' %}

{% block content %}
  <div class="page">
    <div class="page-header">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="page-body">
      {{ page.content }}
    </div>
  </div><!-- /.page -->
{% endblock %}
