<form
  action="{{ uri.url }}"
  method="{{ form.method ? form.method : 'POST' }}"
  class="form-horizontal"
>
  {% for field in form.fields %}
    {% include [
      "forms/fields/#{field.type}/#{field.name}.html.twig",
      "forms/fields/#{field.type}/#{field.type}.html.twig",
      "forms/fields/text/text.html.twig"
    ] with { field: field, value: form.value[field.name] } %}
  {% endfor %}
  {% include 'forms/fields/button/submit.html.twig' %}
</form>
