{% set value = (value is null ? field.default : value) %}

<div class="form-group">
  {% block label %}
  {% if field.label %}
  <label for="{{ field.name }}" class="control-label col-sm-4">
    {{ field.label }}{% if field.validate.required %}&nbsp;<span class="required">*</span>{% endif %}
  </label>
  {% else %}
    <div class="col-sm-4">&nbsp;</div>
  {% endif %}
  {% endblock %}
  <div class="col-sm-8">
    {% block widget %}{% endblock %}
  </div>
</div>
