{% extends 'forms/row.html.twig' %}

{% block widget %}
  <select
    name="{{ field.name }}"
    id="{{ field.name }}"
    {% if value is not null %}
      value="{{ value }}"
    {% endif %}
    {% if field.placeholder %}
      placeholder="{{ field.placeholder }}"
    {% endif %}
    {% if field.validate.required %}
      required
    {% endif %}
  >
    {% for key, label in field.options %}
      <option value="{{ key }}">{{ label }}</option>
    {% endfor %}
  </select>
{% endblock %}
