{% set images = page.media.images %}
{% if images|length %}
  <div class="carousel slide carousel-fade">
    <div class="carousel-inner">
      {% for image in images %}
      <div class="item{{ loop.first ? ' active' : '' }}">
        {{ image.cropResize(920, 370).html() }}
      </div><!-- /.item -->
      {% endfor %}
    </div><!-- /.carousel-inner -->
  </div><!-- /.carousel -->
{% endif %}
