<nav role="navigation">

  <ul class="nav nav-pills nav-stacked">
    {% for page in pages.children %}
      {% if page.visible %}
        {% set active = (page.active or page.activeChild) %}
        <li class="{{ active ? 'active' : '' }}">
          <a href="{{ page.url }}">{{ page.menu ? page.menu : page.title }}</a>

          {% if (page.active or page.activeChild) and page.children %}
          <ul>
            {% for page in page.children %}
              {% if page.visible %}
                {% set active = (page.active or page.activeChild) %}
                <li class="{{ active ? 'active' : '' }}">
                  <a href="{{ page.url }}">{{ page.menu ? page.menu : page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          {% endif %}

        </li>
      {% endif %}
    {% endfor %}
  </ul>

</nav>
