{% if pagination|length > 1 %}
{% spaceless %}
<nav>
  <ul class="pagination">
    {% if pagination.hasPrev %}
      {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
      <li><a rel="prev" href="{{ url }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;<span class="sr-only"> (previous)</span></span></li>
    {% endif %}

    {% for paginate in pagination %}

      {% if paginate.isCurrent %}
        <li class="active"><span>{{ paginate.number }}<span class="sr-only"> (current)</span></span></li>
      {% elseif paginate.isInDelta %}
        {% set url =  (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
        <li><a href="{{ url }}">{{ paginate.number }}</a></li>
      {% elseif paginate.isDeltaBorder %}
        <li class="disabled"><span>&hellip;</span></li>
      {% endif %}

    {% endfor %}

    {% if pagination.hasNext %}
      {% set url =  (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
      <li><a rel="next" href="{{ url }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;<span class="sr-only"> (next)</span></span></li>
    {% endif %}
  </ul>
</nav>
{% endspaceless %}
{% endif %}
