<article class="post-item" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-item-header">
    <h2 class="post-item-title">
      <a href="{{ page.url }}">
        {{ page.title }}
      </a>
    </h2>
  </div>
  <div class="post-item-body">
    {{ page.content }}
  </div>
</article>
