{% extends 'forms/row.html.twig' %}

{% block widget %}
  <button type="submit" class="btn btn-default">
    {% if text is defined %}
      {{ text|t }}
    {% else %}
      {{ 'form.label.send'|t }}
    {% endif %}
  </button>
{% endblock %}
