{% extends 'forms/row.html.twig' %}

{% block widget %}
  {% for key, label in field.options %}
    <div class="radio">
      <label>
        <input
          type="radio"
          name="{{ field.name }}"
          value="{{ key }}"
          {% if value == key %}
            checked
          {% endif %}
        />
        {{- label -}}
      </label>
    </div>
  {% endfor %}
{% endblock %}
