{% extends 'forms/row.html.twig' %}

{% block widget %}
  <script src="https://www.google.com/recaptcha/api.js?onload=captchaOnloadCallback&render=explicit" async defer></script>
  <script>
    function captchaOnloadCallback() {
      grecaptcha.render('g-recaptcha', {
        'sitekey': "{{field.recatpcha_site_key}}",
        'callback': function () {
          //
        },
        'expired-callback': function () {
          grecaptcha.reset();
        }
      });
    }
  </script>
  <div class="g-recaptcha" id="g-recaptcha"></div>
{% endblock %}
