<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8" lang="fr"><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9" lang="fr"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="fr"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ theme_url }}/images/favicon.ico">

  <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

  {% if header.description %}
  <meta name="description" content="{{ header.description }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  {% if header.robots %}
  <meta name="robots" content="{{ header.robots }}">
  {% endif %}

  {% block styles %}
    {% do assets.add('theme://styles/dist/index.min.css', 100) %}
    {{ assets.css() }}
  {% endblock %}

  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
  <![endif]-->
</head>
<body class="page-{{ page.slug() }}">

  {% block body %}{% endblock %}

  {% block scripts %}
    {% do assets.add('https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js', 101) %}
    {% do assets.add('theme://scripts/dist/index.min.js') %}
    {{ assets.js() }}
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      // ga('create', 'XX-XXXXXXXX-X', 'malley.ch');
      // ga('send', 'pageview');
    </script>
  {% endblock %}
</body>
</html>
