{% extends 'layouts/base.html.twig' %}

{% block body %}
  <header class="header">
    <div class="header-body">
      <a href="/" class="header-brand" rel="home">
        <img src="{{ theme_url }}/images/logo-wxr-xs.png" alt="{{ site.title }}" />
      </a>
    </div><!-- /.header-inner -->
  </header>

  <div class="container">
    <div class="row">
      <div class="sidebar col-xs-12 col-sm-4 col-md-3 col-lg-2">
        {% include 'partials/navigation.html.twig' %}
      </div><!-- /.sidebar -->
      <main class="main col-xs-12 col-sm-8 col-md-9 col-lg-10">
        {% block content %}{% endblock %}
      </main><!-- /.main -->
    </div><!-- /.row -->
  </div><!-- /.container -->

  <footer class="footer">
    <div class="footer-body">
      © {{ "now"|date("Y") }} {{ site.title }}
    </div>
  </footer>
{% endblock %}
