{% extends 'forms/row.html.twig' %}

{% block widget %}
  <input
    class="form-control"
    type="email"
    name="{{ field.name }}"
    id="{{ field.name }}"
    {% if value is not null %}
      value="{{ value }}"
    {% endif %}
    {% if field.placeholder %}
      placeholder="{{ field.placeholder }}"
    {% endif %}
    {% if field.validate.required %}
      required
    {% endif %}
  />
{% endblock %}
