.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  padding: @footer-padding 0;

  .footer-body {
    &:extend(.container all);
    font-size: @font-size-small;
    line-height: @footer-line-height;
    color: @text-muted;
  }
}
