@import "@{BOOTSTRAP}/variables.less";

@border-radius-base:  0;
@border-radius-large: 0;
@border-radius-small: 0;

@brand-primary: #800000;

@footer-line-height: 20px;
@footer-padding: 10px;
@footer-height: (@footer-line-height + @footer-padding * 2);

@icon-font-path: "../../node_modules/bootstrap/fonts/";

@input-border-focus: @brand-primary;
